* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;

}

h1 {
    font-family: "Bungee Outline", sans-serif;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
}

.container {
    height: 500px;
    width: 80%;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.263);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.inputBox {
    padding: 8px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.units{
    align-self: center;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    display: flex;
}

.dropdown_vals {
    padding: 8px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.buttons {
    margin-top: 10px;
}

.buttons button {
    padding: 12px 24px;
    margin-right: 10px;
    border: none;
    border-radius: 6px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    font-size: 16px;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buttons button:last-child {
    margin-right: 0;
}

.buttons button:hover {
    background-color: #2980b9;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

p{
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

